# Dashboard Requirements
streamlit==1.49.1
pandas==1.5.3
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1
altair==5.5.0
openpyxl==3.1.5
pyarrow==21.0.0
python-dateutil==2.9.0.post0
scikit-learn==1.5.2
joblib==1.4.2
shap==0.46.0

